[submodule "chisel3"]
	path = chisel3
	url = https://github.com/freechipsproject/chisel3.git
	branch = master
[submodule "chisel-testers"]
	path = chisel-testers
	url = https://github.com/freechipsproject/chisel-testers.git
	branch = master
[submodule "firrtl"]
	path = firrtl
	url = https://github.com/freechipsproject/firrtl.git
	branch = master
[submodule "firrtl-interpreter"]
	path = firrtl-interpreter
	url = https://github.com/freechipsproject/firrtl-interpreter.git
	branch = master
[submodule "dsptools"]
	path = dsptools
	url = git@github.com:ucb-bar/dsptools.git
	branch = master
[submodule "treadle"]
	path = treadle
	url = https://github.com/freechipsproject/treadle.git
	branch = master
[submodule "diagrammer"]
	path = diagrammer
	url = https://github.com/freechipsproject/diagrammer
	branch = master
[submodule "rocket-chip"]
	path = rocket-chip
	url = https://github.com/chipsalliance/rocket-chip.git
	branch = ucb-jenkins
[submodule "chisel-testers2"]
	path = chisel-testers2
	url = https://github.com/ucb-bar/chisel-testers2.git
	branch = master
[submodule "chisel-template"]
	path = chisel-template
	url = https://github.com/freechipsproject/chisel-template.git
	branch = master
[submodule "chisel-tutorial"]
	path = chisel-tutorial
	url = https://github.com/ucb-bar/chisel-tutorial.git
	branch = master
